
<div id="alerts" class="alert alert-warning p-2 mb-2 d-none" role="alert" data-nosnippet>
    <h5>Old Version Warning</h5>
    <p class="mb-1">
        You were using an old version of the extension, which may have missing features or bugs.
        You should try updating to the latest version of the web extension
        for <a class="alert-link" href="{{ site.chrome_url }}" target="_blank" rel="noopener">Chrome</a>
        or <a class="alert-link" href="{{ site.firefox_url }}" target="_blank" rel="noopener">Firefox</a>.
    </p>
</div>

{% comment %}<div class="alert alert-warning p-2 mb-2" role="alert" data-nosnippet>{% endcomment %}
    {% comment %}<h5>Known Issues:</h5>{% endcomment %}
    {% comment %}<ul class="mb-1">{% endcomment %}
        {% comment %}<li>{% endcomment %}
            {% comment %}The <i class="fa-regular fa-trash-can"></i> Delete button is not functioning on the Options page for removing filters.{% endcomment %}
            {% comment %}<br>{% endcomment %}
            {% comment %}<strong>Work Around:</strong> Click on the text of the filter, delete all the text and press enter.{% endcomment %}
        {% comment %}</li>{% endcomment %}
    {% comment %}</ul>{% endcomment %}
    {% comment %}<p class="mb-1 small">{% endcomment %}
        {% comment %}This will be fixed on the next release.{% endcomment %}
    {% comment %}</p>{% endcomment %}
{% comment %}</div>{% endcomment %}
